@import '~gel-sass-tools/sass-tools';
@import '~sass-mq/mq';
@import '~gel-typography/typography';

$text-color: #fff;

.list-item__container {
    @include gel-typography('great-primer-bold');
    color: $text-color;
    font-family: inherit;

    &:hover {
        text-decoration: underline;
    }
}
