@import '~gel-sass-tools/sass-tools';
@import '~sass-mq/mq';
@import '~gel-typography/typography';

$bg-color: #f2f1f1;

.promo__container {
    @include gel-typography('double-pica-bold');
    background-color: $bg-color;
    display: flex;
    font-family: inherit;
    height: 100%;
    padding: $gel-spacing-unit * 2 $gel-spacing-unit * 2 0;
    width: 100%;

    @include mq($from: gel-bp-m) {
        padding: $gel-spacing-unit * 3 $gel-spacing-unit * 3 0;
    }
}
