@import '~gel-sass-tools/sass-tools';
@import '~sass-mq/mq';
@import '~gel-typography/typography';

$bg-color: #efefef;

.top-news-page__container {
    font-family: Arial, Helvetica, freesans, sans-serif;
}

.top-news-page__content-panel {
    padding: $gel-spacing-unit * 3;
}

.top-news-page__current-country {
    @include gel-typography('paragon-bold');
    padding-bottom: $gel-spacing-unit * 2;

    @include mq($from: gel-bp-m) {
        padding: 0 0 $gel-spacing-unit * 2 $gel-spacing-unit;
    }
}
